
.container{
    display:flex;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    height:200px;
    width:200px;
    justify-content:center;
    align-items:center;
}

.box1{
    position:absolute;
    height:100px;
    width:100px;
    border:2px solid white;
    transform:rotate(45deg);
    background-color:#FC766AFF;
    animation:spiin 1s linear infinite;
}
.box2{
    position:absolute;
    height:100px;
    width:100px;
    border:2px solid white;
    transform:rotate(0deg);
    background-color:#5B84B1FF;
    z-index:-1;
    animation:spin 1s linear infinite;
}

@keyframes spiin{
    0%{transform:rotate(45deg);}
    50%{transform:rotate(135deg);}
    100%{transform:rotate(135deg);}
}
@keyframes spin{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(-90deg);}
    100%{transform:rotate(-90deg);}
}
